### Localization
# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US

### Keyboard selection.
d-i keyboard-configuration/xkb-keymap select us
# d-i console-setup/ask_detect boolean false
# d-i keyboard-configuration/xkb-keymap select us
# choose-mirror-bin mirror/http/proxy string

### Network Configuration
d-i netcfg/choose_interface select auto
# d-i netcfg/get_hostname string hostname
# d-i netcfg/get_domain string domain.com
# d-i netcfg/hostname string hostname

## Mirror Settings
# If you select ftp, the mirror/country string does not need to be set.
# d-i mirror/protocol string ftp
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.us.debian.org
d-i mirror/http/directory string /debian
# d-i mirror/suite string buster
d-i mirror/http/proxy string

### Account setup
d-i passwd/user-fullname string user
d-i passwd/user-uid string 1000
d-i passwd/user-password password user
d-i passwd/user-password-again password user
d-i passwd/username string user
d-i passwd/root-password password root
d-i passwd/root-password-again password root
# The installer will warn about weak passwords. If you are sure you know
# what you're doing and want to override it, uncomment this.
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC

### Partitioning
d-i partman-auto/method string lvm
# - atomic: all files in one partition
# - home:   separate /home partition
# - multi:  separate /home, /var, and /tmp partitions
d-i partman-auto/choose_recipe select atomic
# You can define the amount of space that will be used for the LVM volume
# group. It can either be a size with its unit (eg. 20 GB), a percentage of
# free space or the 'max' keyword.
d-i partman-auto-lvm/guided_size string max
# If one of the disks that are going to be automatically partitioned
# contains an old LVM configuration, the user will normally receive a
# warning. This can be preseeded away...
d-i partman-lvm/device_remove_lvm boolean true
# The same applies to pre-existing software RAID array:
d-i partman-md/device_remove_md boolean true
# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Apt setup
# d-i apt-setup/non-free boolean true
# d-i apt-setup/contrib boolean true
# Uncomment this if you don't want to use a network mirror.
d-i apt-setup/use_mirror boolean false
# Select which update services to use; define the mirrors to be used.
# Values shown below are the normal defaults.
# d-i apt-setup/services-select multiselect security, updates
# d-i apt-setup/security_host string security.debian.org

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string wget openssh-server
# d-i pkgsel/include string wget open-vm-tools openssh-server
#d-i pkgsel/install-language-support boolean false
# disable automatic package updates
#d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade

### Finishing up the installation
# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# Participate in the package usage survey?
d-i popularity-contest/participate  boolean false

d-i preseed/late_command string \
echo deb http://ftp.us.debian.org/debian/ buster main contrib non-free >> /target/etc/apt/sources.list; \
echo deb http://ftp.us.debian.org/debian/ buster-updates main contrib non-free >> /target/etc/apt/sources.list; \
in-target apt update; \
in-target apt upgrade; \
in-target apt -y install open-vm-tools
